accelerate==1.7.0
aiofiles==23.2.1
aiohttp==3.9.4
aiolimiter==1.1.0
aioprocessing==2.0.1
aiosignal==1.3.1
aiosqlite==0.20.0
altair==5.4.1
altgraph==0.17.4
analytics-python==1.4.post1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.9.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.5
async-property==0.2.2
attrs==24.2.0
audioread==3.0.1
autograd==1.7.0
autograd-gamma==0.5.0
auto-py-to-exe==2.44.1
av==12.3.0
azure-core==1.32.0
azure-functions==1.21.3
azure-functions-durable==1.2.10
azure-identity==1.19.0
azure-storage-blob==12.24.0
babel==2.17.0
backoff==1.10.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.46.0
bleach==6.2.0
blinker==1.9.0
bottle==0.12.25
bottle-websocket==0.2.9
Brotli==1.1.0
browser-cookie3==0.19.1
bs4==0.0.2
cbor==1.0.0
certifi==2024.6.2
cffi==1.17.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cloup==3.0.5
colorama==0.4.6
coloredlogs==15.0.1
colorsysx==1.1
comm==0.2.2
ConfigArgParse==1.7
construct==2.8.8
contourpy==1.2.1
contractions==0.1.73
cryptography==43.0.3
ctranslate2==4.4.0
cut-cross-entropy==25.1.1
cycler==0.12.1
datasets==3.6.0
debugpy==1.8.1
decorator==4.4.2
defusedxml==0.7.1
diffusers==0.33.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
docstring_parser==0.16
dunamai==1.22.0
ecdsa==0.19.1
Eel==0.17.0
efficientnet_pytorch==0.7.1
emoji==2.14.1
evaluate==0.4.3
executing==2.0.1
fastapi==0.115.3
faster-whisper==1.0.3
fastjsonschema==2.21.1
faust-cchardet==2.1.19
ffmpeg-python==0.2.0
ffmpy==0.4.0
filelock==3.13.1
FlagEmbedding==1.3.5
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Login==0.6.3
flatbuffers==24.3.25
fonttools==4.52.1
formulaic==1.0.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
furl==2.1.3
future==1.0.0
gevent==24.2.1
geventhttpclient==2.3.3
gevent-websocket==0.10.1
gitdb==4.0.12
GitPython==3.1.45
gradio==3.30.0
gradio_client==1.4.2
greenlet==3.0.3
griffe==1.7.3
h11==0.14.0
h2==4.1.0
hf_transfer==0.1.9
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
httpx-sse==0.4.1
huggingface-hub==0.32.3
humanfriendly==10.0
hydra-core==1.3.2
hyperframe==6.0.1
HyperPyYAML==1.2.2
idna==2.8
ijson==3.4.0
imageio==2.34.1
imageio-ffmpeg==0.5.0
importlib_metadata==8.7.0
inquirerpy==0.3.4
inscriptis==2.6.0
interface-meta==1.3.0
ipykernel==6.29.4
ipython==8.23.0
ipywidgets==8.1.7
ir_datasets==0.5.10
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jiter==0.10.0
joblib==1.4.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyterlab==4.4.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
jupyter_client==8.6.1
jupyter-console==6.6.3
jupyter_core==5.7.2
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.11.0
lifelines==0.30.0
limiter==0.5.0
linkify-it-py==2.0.3
llvmlite==0.44.0
lmdb==1.6.2
locust==2.32.5
lxml==5.3.0
lz4==4.3.3
markdownify==1.1.0
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mcp==1.10.1
mcp-server-fetch==2025.4.7
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==3.1.3
monotonic==1.6
more-itertools==10.4.0
moviepy==1.0.3
mpegdash==0.4.0
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.0.5
multiprocess==0.70.16
narwhals==1.10.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
notebook==7.4.4
notebook_shim==0.2.4
numba==0.61.2
numpy==1.26.3
ofscraper==3.11.2
ollama==0.5.1
omegaconf==2.3.0
onnxruntime==1.19.2
openai==1.93.1
openai-agents==0.1.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
orderedmultidict==1.0.1
orjson==3.10.10
overrides==7.7.0
packaging==24.0
pandas==2.2.3
pandocfilters==1.5.1
panns-inference==0.1.1
paramiko==3.5.0
parso==0.8.4
pathvalidate==3.2.0
patsy==1.0.1
pefile==2023.2.7
peft==0.15.2
pfzy==0.3.4
pillow==10.2.0
pip==25.0.1
platformdirs==4.2.0
playaudio==1.0.5
plotly==5.24.1
plotly-express==0.4.1
poetry-dynamic-versioning==1.4.0
pooch==1.8.2
portalocker==2.10.1
proglog==0.1.10
prometheus_client==0.22.1
prompt-toolkit==3.0.43
Protego==0.5.0
protobuf==3.20.3
psutil==5.9.8
pure-eval==0.2.2
pyahocorasick==2.1.0
pyarrow==20.0.0
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.11.7
pydantic_core==2.33.2
pydantic-settings==2.10.1
pydub==0.25.1
pygame==2.6.0
Pygments==2.17.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.10.1
pymp4==1.4.0
PyMuPDF==1.24.3
PyMuPDFb==1.24.3
PyNaCl==1.5.0
pynput==1.7.6
pynumparser==1.4.1
pyparsing==3.1.2
PyPDF2==3.0.1
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyreadline3==3.4.1
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-http-client==3.3.7
python-json-logger==3.3.0
python-multipart==0.0.12
pytube==15.0.0
pytz==2024.2
pywidevine==1.8.0
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.0.2
readabilipy==0.3.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.20.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.7.1
safetensors==0.5.3
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sendgrid==6.12.4
sentencepiece==0.2.0
sentence-transformers==4.1.0
sentry-sdk==2.45.0
setproctitle==1.3.3
setuptools==70.0.0
shellingham==1.5.4
shtab==1.7.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.5
soxr==0.5.0.post1
spaces==0.30.4
speechbrain==1.0.2
speedtest-cli==2.1.3
sse-starlette==2.4.1
stack-data==0.6.3
starlette==0.41.0
statsmodels==0.14.4
StrEnum==0.4.15
sympy==1.13.3
tenacity==8.5.0
tensorboardX==2.6.2.2
terminado==0.18.1
textsearch==0.0.24
textual==0.52.1
threadpoolctl==3.5.0
timm==0.9.7
tinycss2==1.4.0
tokenizers==0.21.1
token-bucket==0.3.0
tomlkit==0.12.0
torch==2.7.0+cu126
torchaudio==2.7.0+cu126
torchlibrosa==0.1.0
torchsummary==1.5.1
torchvision==0.22.0+cu126
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
transformers==4.52.4
trec-car-tools==2.6
triton-windows==3.3.1.post19
trl==0.18.1
typeguard==4.4.2
typer==0.12.5
types-python-dateutil==2.9.0.20240316
types-requests==2.32.4.20250611
typing_extensions==4.13.2
typing-inspection==0.4.1
tyro==0.9.22
tzdata==2024.2
uc-micro-py==1.0.3
Unidecode==1.3.8
unlzw3==0.2.3
unsloth==2025.5.10
unsloth_zoo==2025.5.11
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.32.0
wandb==0.23.0
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websockets==12.0
websocket-client==1.8.0
Werkzeug==3.1.3
wget==3.2
wheel==0.45.1
whichcraft==0.6.1
widgetsnbextension==4.0.14
win32-setctime==1.1.0
wrapt==1.17.0
xformers==0.0.30
xxhash==3.5.0
yarl==1.9.4
zipp==3.22.0
zlib-state==0.1.9
zope.event==5.0
zope.interface==7.0.1
pip==25.0.1
